@page "/"
@using GPUTestAnalysisCascadingDropDown.Dtos
@using GPUTestAnalysisCascadingDropDown.Models

<PageTitle>GPU Analysis</PageTitle>

<h1>GPU Visualization Analysis and Test</h1>

Plot and analzye GPU data for the purposes of optimization.

@if (gpus == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gpu in gpus)
            {
                <tr>
                    <td>@gpu.Type</td>
                    <td>@gpu.Description</td>
                </tr>
            }
        </tbody>
    </table>
}




@code {
    private List<GPU>? gpus = new List<GPU>();

    protected override async Task OnInitializedAsync()
    {
        GPU gpu1 = new GPU();
        gpu1.Type = "Onyx";
        gpu1.Description = "Bold and Beautiful";
        gpus.Add(gpu1);

        GPU gpu2 = new GPU();
        gpu2.Type = "Belfur";
        gpu2.Description = "Hard and crusty";
        gpus.Add(gpu2);

        GPU gpu3 = new GPU();
        gpu3.Type = "Xynox";
        gpu3.Description = "Soft but durable";
        gpus.Add(gpu3);

        GPU gpu4 = new GPU();
        gpu4.Type = "Cantorlee";
        gpu4.Description = "Shiny and slick";
        gpus.Add(gpu4);

        GPU gpu5 = new GPU();
        gpu5.Type = "Demonic";
        gpu5.Description = "Dark and deliberate";
        gpus.Add(gpu5);
    }

    List<GPU> GetGPUByType(string  type)
    {
        IEnumerable<GPUReturnDto> gpuDtos = new List<GPUReturnDto>();

    }

}